body {
  font-family: Work Sans;
  text-align: center;
  background: teal;
}

.nav .nav-head {
  text-align: left;
  display: block;
  width: 100%;
  background: orange;
}

div.nav-head {
  margin-bottom: 32px;
}

.nav .nav-head > .nav-item,
.nav .nav-head .nav-link {
  display: inline-block;
}

main {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.profile-picture {
  width: 350px;
}